<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" type="button" [routerLink]="['new']">Ny ordre</button>
    </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list group">
        <fd-order-item *ngFor="let order of orders; let i = index" [order]="order" [orderId]="i"></fd-order-item>
      </ul>
    </div>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="authertest()" type="submit">Bestil FavorDrop</button>
  </div>
</div>
