nav{
  font-family: "Avenir Next";
  font-size: 100%;
  background-color: #ffffff;
  max-width: 100%;
}
img{
  width:120px;
  height:50px;
  position: absolute;
  top: 0px;
}
.navbar-header{
  height: 50px;
}
