<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a id="favordropheader" [routerLink]="'/'">Favor Drop</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="favordropnavbarright">

        <li routerLinkActive="active"><a [routerLink]="['/order-module']">Bestilling</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/help-page']">Hjælp</a></li>
        <template [ngIf]="this.authService.isAuthenticated()">
          <li id="profilelist" routerLinkActive="active"><a [routerLink]="['/profile-page']">Profile</a></li>
          <li><a (click)="logout()" routerLink="/user-login">Log Ud</a></li>
        </template>
        <template [ngIf]="!this.authService.isAuthenticated()">
          <li routerLinkActive="active"><a [routerLink]="['/user-login']">Log Ind</a></li>
        </template>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
