 <form class="col-md-6 col-md-offset-3" (ngSubmit)="emailLogin(f)" #f="ngForm">

      <div class="form-group col-md-12" id="emailandlogin">
        <h2>
          Log in
        </h2>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Email addresse">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password">
        <p *ngIf="loginInvalid">Der er fejl i email eller password</p>
      </div>

   <div class="col-md-12">
        <button class="btn btn-default" type="submit">
          <span class="badge">@</span> Login med Email
        </button>
   </div>
 </form>
 
    <div class="col-md-6 col-md-offset-3">
    <div class="col-md-12">
     <hr>
       <button class="btn btn-primary" (click)="facebookLogin()" id="fb">
          <span class="badge">F</span> Login med Facebook
        </button>
       <button class="btn btn-danger" style="padding-left: 20px" (click)="googleLogin()" id="google">
          <span class="badge">G</span> Login med Google
        </button>
        <br>
      <hr>
        <a id="createUser" [routerLink]="['/create-intro']" routerLinkActive="active">Ingen bruger? <strong> Opret dig her</strong></a>
      </div>
    </div>


