 <form class="col-md-5 col-md-offset-4" (ngSubmit)="onSignin(f)" #f="ngForm">

      <div class="form-group col-md-12" id="emailandlogin">
        <h2>
          Log in
        </h2>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Email addresse">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password">
      </div>

   <div class="col-md-12" id="buttonlogin">
        <button class="btn btn-default" type="submit" [disabled]="!f.valid">
          <span class="badge">@</span> Login med Email
        </button>
     <hr>
        <button class="btn btn-primary" (click)="loginFb()" id="fb">
          <span class="badge">F</span> Login med Facebook
        </button>
        <br>
        <br>
        <button class="btn btn-danger" (click)="loginGoogle()" id="google">
          <span class="badge">G</span> Login med Google
        </button>
        <br>
      <hr>
        <a id="createUser" [routerLink]="['/create-intro']" routerLinkActive="active">Ingen bruger? <strong> Opret dig her</strong></a>
      </div>

    </form>

