 <form class="col-md-5 col-md-offset-4" (ngSubmit)="emailLogin(f)" #f="ngForm">

      <div class="form-group col-md-12" id="emailandlogin">
        <h2>
          Log in
        </h2>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Email addresse">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password">
      </div>

   <div class="col-md-12" id="buttonlogin">
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Log ind på Favor Drop</button>
     <hr>
        <button class="btn btn-primary" (click)="facebookLogin()" id="fb">Login med Facebook</button><br>
        <br>
        <button class="btn btn-danger" (click)="googleLogin()" id="google">Login med Google</button>
        <br>
        <span>
      <hr>
    </span>
        <a id="createUser" [routerLink]="['/create-intro']" routerLinkActive="active">No account? <strong>Create one here</strong></a>
      </div>

    </form>

