<div id="list" class="col-md-4 ">
  <div id="buttonNewOrder">
    <h3>Liste over ordre til fakturering</h3>
  </div>
  <fd-order-list></fd-order-list>
</div>

<div id="info" class="col-md-7">

  <form id="BillingForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group col-md-12">
      <h3>
        Bestillings oplysninger
      </h3>
      <label for="name">Fulde navn</label>
      <input type="text"
             id="name"
             name="name"
             ngModel class="form-control"
             placeholder="Fulde navn"
             [(ngModel)]="formname"/>

      <label for="address">Adresse</label>
      <input type="text"
             id="address"
             name="address"
             ngModel class="form-control"
             placeholder="Adresse"
             [(ngModel)]="formaddress"/>

      <label for="phone">Telefon</label>
      <input type="tel"
             id="phone"
             name="phone"
             ngModel class="form-control"
             placeholder="Telefon"
             [(ngModel)]="formphone">

<div style="padding-top: 5px">
        <div class="input-group">
         <label for="zipcode">Postnummer</label>
         <input type="zipcode"
                id="zipcode"
                name="zipcode"
                ngModel class="form-control"
                pattern="[0-9]{3,4}"
                placeholder="Postnummer"
                [(ngModel)]="formzip"/>

          <span class="input-group-btn" style="width: 30px;"></span>
         <label for="city">By</label>
          <input type="city"
                 id="city"
                 name="city"
                 ngModel class="form-control"
                 placeholder="Din by"
                 [(ngModel)]="formcity"/>
        </div>
</div>
      <span>
      <hr>
      </span>
      <h3>
        Betalings oplysninger
      </h3>

      <label for="cardname">Navn på kortholder</label>
      <input type="text"
             id="cardname"
             name="cardname"
             ngModel class="form-control"
             pattern="[a-zA-Z0-9\s]+"
             placeholder="Navn på kortholder"/>

      <label for="cardnumber">Kortnummer</label>
      <input type="text"
             id="cardnumber"
             name="cardnumber"
             ngModel class="form-control"
             placeholder="Kortnummer"/>

      <label for="cvc">CVC</label>
      <input type="text"
             id="cvc"
             name="cvc"
             placeholder="CVC"
             ngModel class="form-control"/>

      <label for="exp">Udløbsdato</label>
      <input type="date"
             id="exp"
             name="exp"
             placeholder="udløbsdato"
             ngModel class="form-control"/>

      <br>
      <div class="pull-right">
      <button class="btn btn-primary" type="submit">Afslut betaling</button>
      </div>
    </div>
  </form>

</div>



