<div class="row">
  <div class="col-xs-12">
    <form id="shopping-list-add">
      <div class="row">
        <div class="col-sm-2 form-group">
          <label for="order-name">Ordre</label>
          <input
            type="text"
            id="order-name"
            required
            #order
            class="form-control">
        </div>

        <div class="col-sm-4 form-group">
          <label for="order-address">Adresse / Pickup</label>
          <input
            type="text"
            id="order-address"
            required
            #address
            class="form-control">
        </div>

        <div class="col-sm-4 form-group">
          <label for="order-comment">Kommentar</label>
          <input
            type="text"
            id="order-comment"
            required
            #comment
            class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="newOrder(order.value,address.value,comment.value)">Tilføj</button>
          <button class="btn btn-primary" type="button">Fjern</button>
        </div>
      </div>
    </form>
  </div>
</div>
