<div class="row">
  <div class="col-xs-12">
    <form id="shopping-list-add" #f="ngForm" (ngSubmit)="newOrder(order.value,address.value,comment.value) ; f.reset()">
      <div class="form-group">
        <div class="row">
        <div class="col-sm-2 form-group">
          <label for="order-name">Ordre *</label>
          <input
            type="text"
            id="order-name"
            required minlength="3"
            #order
            class="form-control">
        </div>

        <div class="col-sm-4 form-group">
          <label for="order-address">Adresse / Pickup *</label>
          <input
            type="text"
            id="order-address"
            required minlength="5"
            #address
            class="form-control">
        </div>

        <div class="col-sm-4 form-group">
          <label for="order-comment">Kommentar</label>
          <input
            type="text"
            id="order-comment"
            #comment
            class="form-control">
        </div>
        </div>
        <button class="btn btn-primary" type="submit" >Tilføj ordre</button>
      </div>
    </form>
  </div>
</div>
