<div class="container" *ngIf="anyStop()">
  <div id="list" class="col-md-6 ">
    <div id="buttonNewOrder">
      <h2>Ordre oversigt</h2>
    </div>
      <fd-stop-list></fd-stop-list>
  </div>

  <div id="info" class="col-md-6">
      <router-outlet></router-outlet>
  </div>

</div>
<div>
<fd-stop-add></fd-stop-add>

<div class="col-xs-12">
  <hr>
  <div id="acceptOrder">
  <button class="btn btn-primary" *ngIf="anyStop()" (click)="finishOrder()">Færdiggør bestilling</button>
  </div>
</div>
</div>

