<div class="form-container">
  <a routerLink="/login" id="goback">Go back</a>

  <h2>Join now</h2>

  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

    <input type ="text" name="email" ngModel #email="ngModel" required class="txt" placeholder="Email Address" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
    <div
      class="alert alert-danger"
      *ngIf="email.touched && !email.valid">
      <div *ngIf="email.errors.required" class="…">
        Email is required.
      </div>
      <div *ngIf="email.errors && !email.errors.required" class="…">
        Det sku lidt en pis mail
      </div>
    </div>

    <input type ="text" name="name" ngModel #name="ngModel" required class="txt" placeholder="Name" minlength="2" required>
    <div
      class="alert alert-danger"
      *ngIf="name.touched && !name.valid">
      <div *ngIf="name.errors.required" class="…">
        Name is required.
      </div>
      <div *ngIf="name.errors.minlength" class="…">
        Name should be minimum {{name.errors.minlength.requiredLength}} characters.
      </div>
    </div>

    <input type ="password" name="password" ngModel #password="ngModel" class="txt" placeholder="Password" minlength="5" required>
    <div
      class="alert alert-danger"
      *ngIf="password.touched && !password.valid">
      <div *ngIf="password.errors.required" class="…">
        Country is required.
      </div>
      <div *ngIf="password.errors.minlength" class="…">
        Password should be minimum {{password.errors.minlength.requiredLength}} characters.
      </div>
    </div>


    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
  </form>
</div>
