#list {
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
}

#info {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 60px;
}

#overview {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#acceptOrder {
  position: absolute;
  right: 20px;
  width: 200px;
  height: 120px;
}
