<div class="container" *ngIf="anyOrder()">
  <div id="list" class="col-md-6 ">
    <div id="buttonNewOrder">
      <h2>Ordre oversigt</h2>
    </div>
      <fd-order-list></fd-order-list>
  </div>

  <div id="info" class="col-md-6">
      <fd-order-detail></fd-order-detail>
  </div>

</div>
<div>
<fd-shopping-list></fd-shopping-list>

<div class="col-xs-12">
  <hr>
  <div id="acceptOrder">
  <button class="btn btn-primary" (click)="finishOrder()"  >Færdiggør bestilling</button>
  </div>
</div>
</div>

