<div class="row">
  <h2>{{stop?.order}}</h2>
  <button class="btn btn-primary" (click)="deleteStop()">Slet stop</button>
  <hr>
  <p>Adresse: {{stop?.address}}</p>
  <p>Kommentar: {{stop?.comment}}</p>

  <h2>{{ title }}</h2>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <sebm-google-map [latitude]="latA" [longitude]="lngA" [zoom]="zoom">
    <sebm-google-map-marker [latitude]="latA" [longitude]="lngA" [label]="'1'">
      <sebm-google-map-marker [latitude]="latB" [longitude]="lngB" [label]="'2'">
   </sebm-google-map-marker> </sebm-google-map-marker>

  </sebm-google-map>
</div>



