p{
  text-align: center;
}
#divtop{
  top: 0px;
  position: relative;

}
#mySidenav{
  position: relative;
  top: 40px;
  right:10px;
  float: right;
}

h2 {
  font-family: "Avenir Next";
  font-weight: 300;
}
#orderlistprofile {
  padding-left: 100px;
}
