<div>
    <form class="col-md-6" id="ProfileForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <h2>
        Profil oplysninger
      </h2>
      <div class="form-group">
        <label for="name">Fulde navn</label>
        <input type="text"
               id="name"
               name="name"
               ngModel class="form-control"
               placeholder="Navn"
               [(ngModel)]="formname"/>

        <label for="email">Email</label>
        <input type="email"
               id="email"
               name="email"
               disabled="disabled"
               ngModel class="form-control"
               placeholder="Email"
               [(ngModel)]="formemail"/>

        <label for="phone">Telefon</label>
        <input type="tel"
               id="phone"
               name="phone"
               ngModel class="form-control"
               placeholder="Telefonnummer"
               [(ngModel)]="formphone"
               minlength="8"
               maxlength="8"
               required="required">
        <span>
      <hr>
      </span>
        <h2>
          Leverings oplysninger
        </h2>
        <label for="orderaddress">Adresse</label>
        <input type="text"
               id="orderaddress"
               name="address"
               ngModel class="form-control"
               placeholder="Adresse"
               [(ngModel)]="formadress"
               minlength="4"
               required="required">

        <label for="zip">Postnummer</label>
        <input type="number"
               id="zip"
               name="zip"
               ngModel class="form-control"
               placeholder="Postnummer"
               [(ngModel)]="formzip"
               min="0"
               max="9999"
               required="required">

        <label for="city">By</label>
        <input type="text"
               id="city"
               name="city"
               ngModel class="form-control"
               placeholder="Din by"
               [(ngModel)]="formcity"
               required="required">
        <br>
        <button class="btn btn-primary" type="submit" >Gem ændringer</button>
      </div>
    </form>
  <div class="col-md-1"></div>

  <div class="col-md-5" id="orderhistorylist">
    <h2>Ordre historik</h2>
    <fd-order-history></fd-order-history>
  </div>

</div>


