<div id="introside">
  <h1 class="glyphicon glyphicon-tag" aria-hidden="true" style="color: white;"></h1>
  <h1 style="text-align: center;color: white;">Favor Drop - Alting leveret lige til døren</h1>
  <br>
  <form class="navbar-form" role="search" (ngSubmit)="onSearch(f)" #f="ngForm">
  <div class="form-group " id="søgning" align="center">
    <input type="number" placeholder="Skriv dit post nummer" style="width: 400px" ngModel class="form-control" name="zipcode" pattern=".{4,4}" required="required">
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!f.valid">Søg</button>
  </form>
  <span style="color: white;">{{delivery}}</span>

  <div style="padding-top: 100px">
    <div style="display: inline-block;padding: 40px">
      <div style="width: 120px" align="center">
        <div class="numberCircle">
          <h2 class="glyphicon glyphicon-pencil" style="color:white"></h2>
        </div>
        <p style="color: white; padding-top: 5px">Opret din bestilling her på siden og login</p>
      </div>
    </div>
    <div style="display: inline-block;padding: 40px">
      <div style="width: 120px" align="center">
        <div class="numberCircle">
          <h2 class="glyphicon glyphicon-check" style="color:white"></h2>
        </div>
        <p style="color: white; padding-top: 5px">Systemet modtager din ordre og sender en bekræftelse</p>
      </div>
    </div>
    <div style="display: inline-block;padding: 40px">
      <div style="width: 120px" align="center">
        <div class="numberCircle">
          <h2 class="glyphicon glyphicon-list-alt" style="color:white"></h2>
        </div>
        <p style="color: white; padding-top: 5px">Vores runner henter din ordre og leverer bestillingen</p>
      </div>
    </div>
    <div style="display: inline-block;padding: 40px">
      <div style="width: 120px" align="center">
        <div class="numberCircle">
          <h2 class="glyphicon glyphicon-send" style="color:white"></h2>
        </div>
        <p style="color: white; padding-top: 5px">Du modtager din ordre og betaler ved døren</p>
      </div>
    </div>
  </div>
</div>

<div class="fullscreen-bg">
  <video loop muted autoplay poster="/assets/mad-video.mp4" class="fullscreen-bg__video">
    <source src="/assets/mad-video.mp4" type="video/mp4">
  </video>
</div>
